@import '~/assets/styles';

$flag: '/images/flag-logo.png';

@mixin flag-icon{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  @include margin-right(5px);
  top: 1px;
  background: url($flag) no-repeat transparent;
  background-size: 16px auto;
  &.ar {
    background-position: 0 3px;
  }
  &.zh {
    background-position: 0 -12px
  }
  &.en {
    background-position: 0 -28px
  }
  &.de {
    background-position: 0 -44px
  }
  &.id {
    background-position: 0 -62px
  }
  &.pt {
    background-position: 0 -79px
  }
}

.popover {
  @include palette-background-paper;
  width: 200px;
  .v-list {
    border-radius: 0
  }
}

.switch-toggle {
  margin: spacing(0, 2);
  ::v-deep .v-input--switch__thumb {
    color: var(--v-secondary-base);
  }
}

.flex-menu {
  display: flex;
  margin-top: $spacing1;
  label {
    padding-top: 8px
  }
  ::v-deep .v-messages {
    display: none
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px)
  }
  to {
    opacity: 1;
    transform: none
  }
}

.header.v-app-bar.v-toolbar.v-sheet {
  background-color: transparent;
  @include palette-text-primary;
  z-index: 11;
  box-shadow: none;
  transition: all 0.3s ease;
  position: fixed;
  padding: spacing(1, 0);
  @include breakpoints-down(md) {
    z-index: 90
  }
  .container {
    #main-wrap & {
      @include breakpoints-down(sm) {
        padding: 0
      }
    }
  }
  nav {
    transition: all 0.5s ease-out;
  }
  &.fixed {
    position: fixed;
    top: 0;
    height: auto !important;
    padding: 4px 0;
    @include shadow5;
    @include palette-background-paper;
    .logo {
      a {
        @include palette-text-primary
      }
      img {
        height: 32px;
        width: 32px
      }
    }
    .bar {
      @include breakpoints-down(sm) {
        @include palette-background-text-secondary;
        &:after, &:before {
          @include palette-background-text-secondary;
        }
      }
    }
    nav {
      padding: spacing(1.5, 0);
    }
    .icon {
      @include palette-text-secondary
    }
  }
  .invert {
    .bar {
      @include breakpoints-down(sm) {
        @include palette-background-text-secondary;
        &:after, &:before {
          @include palette-background-text-secondary;
        }
      }
    }
  }
  &.open-drawer {
    box-shadow: none !important;
    .logo {
      a {
        @include palette-text-primary
      }
    }
  }
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 0
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & nav {
    align-items: center;
    padding: $spacing2;
    display: flex;
    @include breakpoints-down(md) {
      padding: spacing(2, 0)
    }
  }
}

.v-application .v-application--wrap .logo {
  a {
    @include breakpoints-down('sm') {
      color: $palette-common-white
    }
  }
}

.logo {
  a {
    text-decoration: none;
    display: flex;
    font-size: 22px;
    align-items: center;
    font-weight: $font-medium;
    @include breakpoints-up('md') {
      @include palette-text-primary;
    }
  }
  img {
    transition: all 0.3s ease;
    max-width: 48px;
    height: 48px;
    width: 48px;
    @include margin-right($spacing1);
  }
}

.nav-logo {
  &.invert .logo a{
    @include palette-text-primary
  }
  &.mobile-menu {
    bar {
      @include breakpoints-down(sm) {
        @include palette-background-text-secondary;
        &:after, &:before {
          @include palette-background-text-secondary;
        }
      }
    }
  }
}

.nav-menu {
  > * {
    margin: 0;
    @include breakpoints-up(lg) {
      margin: spacing(0, 1);
    }
  }
  &.invert {
    ul li a {
      transition: all 0.3s ease-out;
      @include palette-text-primary;
    }
    .icon.v-icon {
      @include palette-text-secondary;
    }
  }
  .scrollactive-nav {
    list-style: none;
    @include padding-left($spacing5);
    li {
      @include breakpoints-up(lg) {
        margin: spacing(0, 2)
      }
      list-style: none;
      position: relative;
      display: inline-block;
      .v-btn  {
        text-transform: capitalize;
        font-Size: 18px;
        font-weight: $font-medium;
        background: none !important;
        box-shadow: none;
        position: relative;
        padding: 6px;
        margin: spacing(0, 1);
        margin-top: $spacing1 / 2;
        min-width: 0;
        @include palette-text-primary;
        &:after {
          content: '';
          height: 5px;
          border-radius: 5px;
          @include use-theme(background, $palette-primary-main, $palette-primary-light);
          width: 0%;
          position: absolute;
          bottom: 0;
          @include left(50%);
          transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
        }
        &:hover {
          transition: all 0.3s ease-out;
          background: none;
          &:before {
            opacity: 0
          }
          &:after {
            width: 60%;
            @include left(8px);
            @include use-theme(border-bottom-color, $palette-primary-main, $palette-primary-light);
          }
        }
        &.active {
          @include use-theme(color, $palette-primary-dark, $palette-primary-light);
          &:after {
            @include use-theme(border-bottom-color, $palette-primary-dark, $palette-primary-light);
            width: 60%;
            @include left(8px);
          }
        }
      }
    }
  }
}

.lang-menu {
  text-transform: capitalize;
  .flag {
    margin: 0;
    & i {
      @include flag-icon;
    }
  }
  .lang-list {
    padding: 0;
    .lang-opt{
      font-size: 0.875rem;
      @include margin-left($spacing2)
    }
  }
}

.mode-menu {
  text-transform: capitalize
}

.user-menu {
  & > button {
    margin: 0 $spacing1;
  }
}

.vertical-divider {
  margin: 0 $spacing1;
  border-left: 1px solid;
  @include palette-divider;
  min-height: $spacing3;
  transition: all 0.5s ease-out
}

.setting {
  .icon.v-icon {
    font-size: 32px;
    transition: all 0.3s ease;
    @include breakpoints-down(sm) {
      color: $palette-common-white
    }
  }
  .active {
    transform: rotate(30deg)
  }
}

.title-menu {
  text-transform: capitalize
}

.v-list-item__content {
  padding: 0
}

paper-nav {
  width: 100%;
  @media (min-width: 680px) {
    width: 300px
  }
}

.mobile-menu {
  margin: spacing(0, 1);
  .bar {
    background-color: $palette-common-white;
    &:after, &:before {
      background-color: $palette-common-white;
    }
    &.hamburger-inner, &:after, &:before {
      background-color: $palette-common-white;
    }
  }
  &.is-active {
    .bar {
      @include palette-background-text-secondary;
      &:after, &:before {
        @include palette-background-text-secondary;
      }
      &.hamburger-inner, &:after, &:before {
        @include palette-background-text-secondary;
      }
    }
  }
}

.mobile-nav {
  @include palette-background-paper;
  z-index: 90;
  min-width: 300px;
  @include breakpoints-down(xs) {
    width: 100% !important
  }
  .menu {
    padding: spacing(0, 2);
    overflow: auto;
    top: spacing(15);
    width: 100%;
    position: absolute;
    height: calc(100% - 80px);
    .menu-list {
      text-transform: capitalize;
      font-size: 24px;
      margin-top: 4px;
      margin-bottom: 4px;
      font-weight: $font-regular;
      padding: spacing(1, 0);
    }
    &.menu-open {
      a {
        animation-name: slideRight;
        animation-timing-function: ease;
      }
    }
  }
}

// .search-banner {
//   margin-top: $spacing3;
//   font-size: 18px;
//   overflow: visible;
//   &.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
//     border-radius: 75px;
//   }
//   @include breakpoints-up(md) {
//     width: 700px;
//     max-width: none;
//   }
//   @include breakpoints-down(xs) {
//     margin-top: $spacing4
//   }
//   ::v-deep .v-text-field--filled > .v-input__control > .v-input__slot {
//     background: none !important;
//     min-height: 0;
//     padding: 0 !important;
//     .v-input__append-inner {
//       margin-top: 4px
//     }
//     &:before, &:after {
//       display: none;
//     }
//   }
//   ::v-deep .v-text-field--filled .v-label--active, .v-text-field--full-width .v-label--active {
//     transform: translateY(-18px) scale(0.75);
//     transform-origin: top left;
//   }
// }
// .action {
//   position: absolute;
//   @include right(0);
//   top: 0;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   padding: $spacing2;
// }

.button {
  &.v-btn:not(.v-btn--round) {
    background-color: $palette-secondary-light;
    color:$palette-common-white ;
    // width: 50px;
    // height: 20px;
    // line-height: 32px;
    text-transform: capitalize;
    align-items: center;
    padding: 2px 28px;
    box-sizing: content-box;
    font-size: 18px;

    @include breakpoints-down(xs) {
      padding: 2px 28px;
      width: 35px;
      background: $palette-secondary-light !important;
      box-shadow: none;
    }
  }
}
