$green-buble: '/images/medical/green_buble.png';
$blue-buble: '/images/medical/blue_buble.png';
$red-buble: '/images/medical/red_buble.png';

.root {
  position: relative;
  @include breakpoints-down(sm) {
    text-align: center;
  }
  h4 {
    @include breakpoints-down(sm) {
      margin-top: $spacing2 * -1;
      margin-bottom: $spacing3
    }
  }
  p{
    font-size: 23px;
    line-height: normal;
    font-weight: 470%;//memodifikasi paragraf tujuan pada data rawat
    margin: 80px 40px;
    text-align: justify;
  }
  padding-bottom: $spacing19;//memberikan jarak antar section dibawahnya
  padding-top: 50px;
}

.background {
  width: 560px;
  height: 560px;
  top: $spacing10 * 11;
  @include left(20%);
  position: absolute;
  transform: scale(3);
}

.decoration {
  width: 600px;
  height: 600px;
  top: -150px;
  right: -150px;
  border-radius: 50%;
  border: 1px solid;
  @include use-theme(border-color, $palette-primary-light, $palette-primary-dark);
  position: absolute;
}

.desc {
  line-height: 32px;
  padding: spacing(0, 4);
  @include breakpoints-up(sm) {
    padding: $spacing4
  }
}

.parallax-wrap {
  position: absolute;
  top: 0;
  @include left(0);
  transform-origin: top;
  width: 1200px;
  span {
    background-size: 100%;
    display: block;
    position: relative;
  }
  @include breakpoints-down(md) {
    display: none
  }
}

.icon-green {
  top: -200px;
  @include left(-40px);
  width: 320px;
  height: 600px;
  background: url($green-buble) no-repeat
}

.icon-red {
  width: 560px;
  height: 560px;
  @include left(40px);
  top: -650px;
  background: url($red-buble) no-repeat
}

.icon-blue {
  width: 560px;
  height: 560px;
  @include left(0px);
  top: -1200px;
  background: url($blue-buble) no-repeat
}

.running-tag {
  position: relative;
  height: 130px;
  padding: spacing(0, 4);
  .slick-active {
    .tag-item {
      background: $palette-primary-main;
      color: $palette-common-white;
      border-color: $palette-primary-main
    }
  }
}

.tag-item {
  display: inline-block;
  border-radius: 40px;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
  border: 1px solid;
  font-size: 14px;
  @include palette-divider;
  @include margin-right($spacing1);
  margin-bottom: 17px;
  padding: $spacing1 / 2;
  @include breakpoints-up(md) {
    padding: spacing(0.5, 4)
  }
}

.tag-group {
  display: block;
  &:focus {
    outline: none;
  }
}

